@charset "UTF-8";

/*
    Em HTML é id em CSS é # (só pode um elemento)
    Em HTML é class em CSS é . (pode ter vários elementos)
*/

body {
    background-color: rgb(141, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 51, 0);
}

#principal {
    text-align: center;
    background-color: rgb(6, 74, 6);
    color: white;
}

h2 {
    color: rgb(31, 98, 31);
}

.basico {
    color: rgb(61, 155, 61);
}

.intermediario {
    color: rgb(164, 164, 92);
}

.avançado {
    color: rgb(216, 91, 91);
}

.destaque {
    background-color: rgb(210, 210, 3);
}